[Unit]
Description=Edit Server

[Service]
ExecStart=/usr/bin/env 0launch -c http://gfxmonk.net/dist/0install/edit-server.xml
Restart=always

[Install]
WantedBy=default.target

